<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    
    <!-- Parâmetros de configuração -->
    <add key="browser" value="Chrome"/>
    
    <!-- Parâmetros da aplicação-->
    <add key="email" value="Testes@Testes.com.br"/>
    <add key="order" value="Testes ordem"/>
    <add key="message" value="Mensagem de testes para validar o preenchimento dos campos"/>
    
  </appSettings>
  
</configuration>