<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    
    <!-- Parâmetros de configuração -->
    <add key="url" value ="https://www.amazon.com.br/"/>
    <add key="browser" value="Chrome"/>
    
    
    <!-- Parâmetros da aplicação-->
    <!--add key="email" value="Testes2@Testes.com"/-->
    <!--add key="order" value="Testes ordem"/-->
    <add key="produto" value="Mop Lava e Seca, MOP7740, Flash Limp"/>
    <add key="produtoIncorreto" value="!@#!@#!@#!@#"/>
    
  </appSettings>
  
</configuration>